@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Zector";
  src: url("/fonts/zector.regular.otf") format("opentype");
}

:root {
  --color-bg: 244 237 286;
  --color-bg-alt: 182 177 211;
  --color-bg-contrast: 16 17 22;
  --color-primary: 27 153 139;
  --color-primary-contrast: 248 248 242;

  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: 16 17 22;
    --color-bg-alt: 48 50 64;
    --color-bg-contrast: 236 229 240;
    --color-primary: 62 191 176;
    --color-primary-contrast: 16 17 22;
  }
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
}
